In [1]:
import pandas as pd
import requests
import time
import sqlalchemy

Dicionário dos dados

https://brasil.io/dataset/covid19/caso_full/

Teste para verificar se os dados estão sendo retornados

In [ ]:
url = 'https://api.brasil.io/v1/dataset/covid19/caso_full/data/?page=1'
header = {'Authorization':'Token e01e2f3a695437c470f5ca70ffb091d96c4453d9'}
#variavel que vai Armazenar o retorno de cada pagina
result = []
#Determinar quantas páginas é para fazer requisição
page = input("Quantas páginas ? ")
print('Total de páginas solicitadas',page)
cont= 0

Loop para paginação dos dados e quantas linhas desejo pegar

In [ ]:
while True:
#Realizando a primeira requisição a proxima url sera o link retornado na api com a proxima pagina assi mefetuando o loop
    response = requests.get(url,headers=header)
#pegar o retorno da API
    df = response.json()
    cont = cont +1
#Verificando a quantidade de requests
    print('_______'*10)
    print('Pagina',cont,url)
#armazenar os dados
    result.extend(df['results'])
    
#Definir o numero de paginas que quero pegar para encerrar a requisição
    if cont == int(page):
        break
    url= df['next']
    
#A API bloqueia a requisição caso puxe varios dados rápidos então coloquei um time para pegar mais de 10 coloque o time em 10
    time.sleep(10)

Armazenar os dados do loop em um data frame

In [ ]:

data=pd.DataFrame.from_dict(result)
display(data)

In [ ]:
data.dtypes

In [ ]:
engine =sqlalchemy.create_engine('postgresql+psycopg2://postgres:postgres@35.247.227.17/Cloud')

In [ ]:
data.to_sql('covid',con=engine,schema='stg',if_exists='replace')

In [2]:
df_cord=pd.read_csv('C:\\Users\\Igor\\Documents\\Dataframe\\Python\\Cordenadas_Municipios',sep=';', header=0, encoding='utf-8', engine='python')
display(df_cord)

      CODIGO MUNICIPIO  LATITUDE  LONGITUDE
0               520005    -16.75     -49.43
1               310010    -18.48     -47.40
2               520010    -16.20     -48.70
3               310020    -19.15     -45.44
4               150010     -1.71     -48.88
...                ...       ...        ...
5565            150475     -2.68     -54.65
5566            422000    -28.80     -49.24
5567            421265    -28.39     -48.87
5568            431454    -29.10     -51.45
5569            500627    -19.02     -53.01

[5570 rows x 3 columns]

In [3]:
df_cod_nom= pd.read_csv('C:\\Users\\Igor\\Documents\\Dataframe\\Python\\Codigo_Nome_Municipios.csv',sep=';', header=0, encoding='utf-8', engine='python')
df_cod_nom

      CODIGO MUNICIPIO  UF         NOME MUNICIPIO
0               110001  RO  Alta Floresta d`Oeste
1               110002  RO              Ariquemes
2               110003  RO                 Cabixi
3               110004  RO                 Cacoal
4               110005  RO             Cerejeiras
...                ...  ..                    ...
5565            150475  PA       Mojuí dos Campos
5566            421265  SC         Pescaria Brava
5567            422000  SC       Balneário Rincão
5568            431454  RS         Pinto Bandeira
5569            500627  MS      Paraíso das Águas

[5570 rows x 3 columns]

In [4]:
D_municipios = pd.merge(df_cord, df_cod_nom, how='outer',on='CODIGO MUNICIPIO')
D_municipios

      CODIGO MUNICIPIO  LATITUDE  LONGITUDE  UF       NOME MUNICIPIO
0               520005    -16.75     -49.43  GO      Abadia de Goiás
1               310010    -18.48     -47.40  MG  Abadia dos Dourados
2               520010    -16.20     -48.70  GO            Abadiânia
3               310020    -19.15     -45.44  MG               Abaeté
4               150010     -1.71     -48.88  PA           Abaetetuba
...                ...       ...        ...  ..                  ...
5565            150475     -2.68     -54.65  PA     Mojuí dos Campos
5566            422000    -28.80     -49.24  SC     Balneário Rincão
5567            421265    -28.39     -48.87  SC       Pescaria Brava
5568            431454    -29.10     -51.45  RS       Pinto Bandeira
5569            500627    -19.02     -53.01  MS    Paraíso das Águas

[5570 rows x 5 columns]

In [ ]:
D_municipios.dtypes

Mudar o tipo dos dados modos

In [ ]:
D_municipios['CODIGO MUNICIPIO'] = D_municipios['CODIGO MUNICIPIO'].astype(str)

In [5]:
D_municipios.astype({
    'CODIGO MUNICIPIO':str,
    'LATITUDE':str,
    'LONGITUDE':str,
    'UF':str,
    'NOME MUNICIPIO':str,
})

     CODIGO MUNICIPIO LATITUDE LONGITUDE  UF       NOME MUNICIPIO
0              520005   -16.75    -49.43  GO      Abadia de Goiás
1              310010   -18.48     -47.4  MG  Abadia dos Dourados
2              520010    -16.2     -48.7  GO            Abadiânia
3              310020   -19.15    -45.44  MG               Abaeté
4              150010    -1.71    -48.88  PA           Abaetetuba
...               ...      ...       ...  ..                  ...
5565           150475    -2.68    -54.65  PA     Mojuí dos Campos
5566           422000    -28.8    -49.24  SC     Balneário Rincão
5567           421265   -28.39    -48.87  SC       Pescaria Brava
5568           431454    -29.1    -51.45  RS       Pinto Bandeira
5569           500627   -19.02    -53.01  MS    Paraíso das Águas

[5570 rows x 5 columns]

In [ ]:

D_municipios.to_sql('stg.dMunicipios',con=engine,schema='stg',if_exists='replace')