In [ ]:
import pandas as pd
import numpy as np

Criando Data frame

In [ ]:
dados= {'Nome':['Jonas','Carlo','Igor'],
        'Idade': [18,19,22],
        'Cidades':['São Paulo','Rio de Janeiro','Minas Gerais']}

In [ ]:
df=  pd.DataFrame(dados)
df

In [ ]:
type(df)

Criando array

In [ ]:
#np.random.normal(100,15,size=(30,5))

In [ ]:
#Criando um array com 30 linhas e 5 colunas
array=np.random.normal(100,15,size=(30,5))
#pegar o primeiro elemento do array no caso o 0 
n= array.shape[0]
#Mudando o index e colocando para começar em 1 e terminar em 30 e criando o nome da colunas vai virar uma lista
df=pd.DataFrame(array,index=range(1,n+1),columns=list('ABCDE'))
#Pegar as 5 primeiras linhas
df.head(5)

In [ ]:
#Pegar as ultimas linhas do data frame
df.tail()

In [ ]:
df['B']

In [40]:
df= {'Nome':[12,15,16,17],
        'Idade': [18,19,22,24],
        'Cidades':[20,30,40,50]}

df=pd.DataFrame(df,index=list('ABCD'))

In [43]:
df

   Nome  Idade  Cidades
A    12     18       20
B    15     19       30
C    16     22       40
D    17     24       50

In [47]:
df.loc['A': 'B', 'Nome']

A    12
B    15
Name: Nome, dtype: int64

In [52]:
df.loc[['A', 'D'],['Nome','Cidades']]

   Nome  Cidades
A    12       20
D    17       50

In [ ]:
## Mudar o tipo dos dados D_municipios.astype({
    'CODIGO MUNICIPIO':str,
    'LATITUDE':str,
    'LONGITUDE':str,
    'UF':str,
    'NOME MUNICIPIO':str,
})